.singlefood-container{
    background-color: white;
    padding: 30px 0px;
}
.singlefood-content{
    padding:40px 20px ;
    max-width: 1200px;
    margin: auto;
}
.singlefood-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.singlefood-right h1{
    font-size: 35px;
    color: black;
}
.singlefood-right p{
    font-size: 17px;
    color: black;
    margin-bottom: 5px;
}
.singlefood-right h2{
    font-size: 17px;
    color: rgb(121, 118, 118);
    margin-bottom: 5px;
    font-weight: 500;
}
.food-price{
    display: flex;
    gap: 10px;
     color: black;
      font-weight: 700;
      margin-top: 15px;
      font-size: 20px;
}
.food-price p{
    margin-top: -8px;
   color: coral;
   font-size: 25px;
}