/* .about-banner{
    background-image: url(https://html.themefax.com/restina/html/assets/images/breadcrumb_bg.jpg);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 50px 0px;
} */
.about-banner{
    
}
.about-invite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;

}
.about-invite-left{
    flex-basis: 40%;
}
.about-invite-left{
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.about-img-first-div ,.about-img-second-div{
display: flex;
    justify-content: space-between;
    flex-direction: row;
}