.about-banner {
  /* background-image: url(https://html.themefax.com/restina/html/assets/images/breadcrumb_bg.jpg); */
  background-image: url(https://html.themefax.com/restina/html/assets/images/about_video_img.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 50px 0px;
  position: relative;
}
.about-banner-content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.about-banner-content h2 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}
.about-banner-content p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
  margin-top: 10px;
  margin-bottom: 25px;
}
.about-banner button {
  font-size: 15px;
  width: 200px;
  height: auto;
  background-color: rgb(245, 80, 30);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
/* ------------about-container-------------- */
.about-container {
  background-color: white;
  /* padding: 50px 0px; */
}
.about-invite {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 1500px;
  padding: 50px 0px;
}
.about-invite-left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about-invite-left h1 {
  font-size: 40px;
  font-weight: 600;
  color: black;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
}
.about-invite-left p {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  opacity: 0.7;
}
.about-invite-left button {
  font-size: 15px;
  width: 40%;
  height: auto;
  background-color: rgb(245, 80, 30);
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
}
.about-invite-right {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
.about-img-first-div,
.about-img-second-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
}

@media only screen and (max-width: 900px) {
  .about-invite {
    display: block;
  }
}

/*----------- about-all-img------------ */

.about-all-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 100px 0px;
}

.about-img-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/*------------- about-reservations-content-------------- */
.about-reservations-container {
  padding-top: 50px;
  padding-bottom: 80px;
}
.about-reservations-content {
  display: flex;
  justify-content: center;
  /* max-width: 1550px; */
  gap: 30px;
}
.about-reservations-left,
.about-reservations-right {
  flex-basis: 40%;
}
.about-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-form input {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  resize: none;
  border: 1px solid rgba(8, 5, 33, 0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
}
.about-form button {
  width: 100%;
  padding: 12px 20px;
  outline: none;
  resize: none;
  border: 1px solid rgba(8, 5, 33, 0.1);
  border-radius: 10px;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
}

/* -------------about-rating---------- */
.about-rating {
  background-image: url(https://html.themefax.com/restina/html/assets/images/testimonial_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.play-btn {
}

/* about-chef-cards-flex */
.about-chefs-container {
  padding: 50px 0px;
}
.about-chefs-header-part {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
.about-chefs-header-part h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #000;
}
.about-chefs-header-part h1::after {
  content: '';
  border: 2px solid red;
  margin-left: 20px;
}
.about-chefs-header-part button{
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
border: 1px solid rgb(201, 196, 196);
  border-radius: 6px;

  text-align: cente
}
.about-chef-cards-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.about-chef-card h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #000;
}
.about-chef-card h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: #525064;
}

