.checkout-container {
  background-color: white;
  padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.billing-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-container {
  flex-basis: 25%;
}
.billing-container input{
background-color: white;
border: 1px solid rgb(199, 197, 197);
}
.billing-container h1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -0.8px;
    margin-bottom: 40px;
    color: black;
}
.chek-flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
.label-text-alt{
    color: black;
    font-size: 15px;
}

/* different cart total */
.checkout-order-total-amount-container{
  position: relative;
  margin-bottom: 300px;

}

.order-total-amount{ 
  position: absolute;
  right: 20px;
  background-color: rgb(254, 255, 255);
 
  width:350px;
  height: auto;
  padding: 30px;
  color: black;
  text-align: center;
  color: black;
    box-shadow: 10px 10px 30px #969b96,
             -10px -10px 30px #c7e0e0;
  
}