.menu-cards-main{
    padding:60px 0px;
    background-color: #f4ecdf;
}
.menu-cards-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1500px;
    margin: auto;
}
.menu-card{
    background-color: white;
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
    
}
.menu-card:hover{
    transition: all .2s;
    box-shadow: 0 25px 50px rgba(0,0,0,0.55);
}
.menu-card img{
    border-radius: 8px 8px 0px 0px;
}
.menu-card-content{
    padding: 15px;
}
.stars{
    display: flex;
    flex-direction: row;
    color: rgb(245, 67, 12);
    margin: 10px 0px;
}
.menu-category{
    background: rgb(170, 69, 103);
    border-radius: 6px;
    font-size: 13px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 6px 10px;
    position: absolute;
    right: 20px;
    top: 165px;
   border-radius: 6px;
    color: white;
}
.menu-card-content h1{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    color: #000;
}
.menu-card-content p{
     color: #000;
    opacity: .7;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin-top: 7px;
    margin-bottom: 25px;
    overflow: hidden;
}

.menu-btn-price{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu-price{
     display: flex;
   justify-content: center;
   align-items: center;
    gap: 10px;
}
.menu-price h2{
     font-size: 23px;
     color: rgb(170, 69, 103);
}
.menu-price h5{
    text-decoration: line-through;
}
.menu-btn-price button{ 
   border:1px solid rgb(206, 206, 206) ;
   padding: 8px 15px;
   color: black;
   font-weight: 600;
   border-radius: 8px;
}
.menu-btn-price button:hover{ 
  background-color: rgb(170, 69, 103);
  color: white;
   border:1px solid rgb(170, 69, 103) ;
  transition: .5s;
}
.menu-header h1{
    margin-bottom: 40px ;
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: 600;
}