.NavLink_color li a{
    background-color: transparent !important;
    font-weight: bold;
}

.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 20;
    min-height:6vh;
    justify-content: space-between;
    flex-direction: row;
    transition:all .7s ease-in-out;
}

.black {
    color: #1f2122;
}

.white {
    color: #fcfcff;
}

.scroll {
    background-color: #21353a;
    margin-left: 0; 
}


.login-btn ,.register-btn{
    width: auto;
    height: auto;
    background-color: rgb(231, 31, 81);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
}
.register-btn{
    width: auto;
    height: auto;
    background-color: rgb(231, 31, 81);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    line-height: 30px;
}