.NavLink_color li a{
    background-color: transparent !important;
    font-weight: bold;
}
.NavLink_color li a:active{
    color: rgb(190, 13, 102) !important;
}

.navbar {
    w__idth: 100%;
    /* background-color: transparent; */
    display: flex;
    position: fixed;
    top: 0;
    z-index: 20;
    min-height:6vh;
    justify-content: space-between;
    flex-direction: row;
    transition:all .7s ease-in-out;
}

.black {
    color: #1f2122;
}

.white {
    color: #fcfcff;
}

.black-bg {
  background-color: #1f2122;
  color: black !important;
}

.scroll {
  background-color: #fcfcff;
  color: white !important;
}
  
.navbar-login{
    background-color: rgb(224, 62, 124);
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
}

