.NavLink_color li a{
    color: black !important;
    background-color: transparent !important;
    font-weight: bold;
}


.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    position: fixed;
    top: 0;
    min-height:6vh;
    justify-content: space-between;
    transition: background-color 0.4s ease-out;
    flex-direction: row;
}

.black {
    color: #1f2122;
}

.white {
    color: #fcfcff;
}

.scroll {
    background-color: #21353a;
    margin-left: 0; 
    transition: all ease-in;
}


