.cart-main {
  padding: 50px 0px;
  background-color: white;
  color: rgb(87, 86, 86);
}
.cart-container {
  max-width: 1300px;
  margin: auto;
}
.cart-heading-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 0.3fr;
  align-items: center;
  margin-bottom: 15px;
  text-align: left;
  font-weight: 600;
}

.total-flex{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 20px;
}

.order-total-amount-container{
  position: relative;
  margin-bottom: 300px;

}

.order-total-amount{ 
  position: absolute;
  right: 20px;
  background-color: rgb(254, 255, 255);
 
  width:350px;
  height: auto;
  padding: 30px;
  color: black;
  text-align: center;
  color: black;
    box-shadow: 10px 10px 30px #969b96,
             -10px -10px 30px #c7e0e0;
  
}
.order-total-amount h2{
  font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0px;
}
 .order-price p ,.delivery-charge p{
font-weight: 500;
 }
.delivery-charge {
margin-bottom: 10px;
 }
.total-order-calculation{
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

.checkout-btn-div{
  padding-top: 20px;
  padding-bottom: 10px;
}
.checkout-btn{
  background-color: rgb(236, 49, 105);
  /* background-color: rgb(226, 87, 110); */
  color: white;
  padding: 8px 30px;
  display: block;
  margin: auto;
  font-size: 20px;
  border-radius: 3px;
}